---
import BaseLayout from "./BaseLayout.astro";

const { frontmatter } = Astro.props;

export interface Props {
  frontmatter: {
    title?: string;
    description?: string;
  };
};
---

<BaseLayout title={frontmatter.title} description={frontmatter.description}>
  <div class="px-10">
    <div class="prose prose-2xl dark:prose-invert mx-auto my-10 max-w-7xl">
      <slot />
    </div>
  </div>
</BaseLayout>
